.fifth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 231px;
    background: #000000;
    padding: 0 30px;
    margin-bottom: -1px;

}

.fifth-page h3 {
    display: none;
}

.fifth-page p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25em;
    margin: 56px 0 24px 0;
    
}


.fifth-page button {
    color: #FFFFFF;
    width: 147px;
    height: 34px;
    background: linear-gradient(180deg, #5DFFE0 0%, #00A3FF 100%);
    margin: 24px 0 0 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.fifth-page button:hover {
    cursor: pointer;
    background:linear-gradient(180deg, #49FFDC 0%, #48BDFF 100%);
}

.fifth-page button:active {
    background: linear-gradient(180deg, #2DE6C2 0%, #36A4E1 100%);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.31), inset 0px -2px 4px rgba(255, 255, 255, 0.25);
}

.fifth-page a {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.195em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (min-width: 992px){
    .fifth-page {
        height: 559px;
        background: #070707;
    }

    .fifth-page h3 {
        display: block;
        margin-top: 73px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.22em;
        text-align: center;
        letter-spacing: 0.22em;
        color: #FFFFFF;
    }

    .fifth-page p {
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.25em;
        width: 500px;
    }

    .fifth-page a {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    .fifth-page button {
        margin-top: 50px;
        width: 244px;
        height: 56px;
    }
    
}