/* use kebab-case */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'AktivGrotesk' ;
    font-style: medium;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("/Aktiv_Grotesk/AktivGrotesk-Medium.otf");
}
